*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.nav-tab {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
}



.brand {
    display: flex;
    gap: 60px;
    align-items: center;
}
 
.brand > h2 {
    font-size: 50px;
    margin: 30px;
    color: navy;
}

.second-section > h3 {
    padding: 20px;
}
.second-section > h4 {
    padding: 20px;;
}
.nav-links {
    align-items: center;
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    font-size: 22px;
    color: navy;
    font-weight: bold;
}
.first-head {
    display: block;
    background-color: #9cb7db;
    width: 1500px;
 padding: 30px;
}



.register {
     width: 100px;
    height: 50px;
    border-radius: 6px;
    background-color: navy;
    color: white;
}
/* 
.photo-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;

    
} */

.register a {
    color: white;

}

.sign-up {
    gap: 20px;
    background-color: transparent;
    border: none;
   
    font-size: 15px;
}

.sign-up a {
     color: navy;
     gap: 20px;
     padding: 30px;
     font-weight: bold;
}
.button-left a {
    gap: 50px;
    text-decoration: none;
}
.first-head>h4 {
    padding: 20px;

}


.head-nav {
    display: flex;
    gap: 50px;
    list-style-type: none;
    margin: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #807777;
    ;
}



.head-nav>h2 {
    margin-bottom: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: navy;
}


.body>h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 70px;
    color: #807777;
    font-size: 30px;
}

.body>h1 {
    margin: 70px;
    font-size: 60px;
    color: navy;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0;
}


.buttonstyle {
    background: navy;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 150px;
    margin: 70px;
    margin-top: 0;

}

.second-section {
    display: block;
    padding-top: 40px;
    margin: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.second-section>h4 {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #807777;
    font-size: 20px;
}

.second-section>p {
    margin-left: 1000px;
    margin-top: 20px;
    font-size: 15px;
    display: flex;
    color: #807777;
}

.images-icon {
    width: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
    padding: 20px;
}

.section-two {
    text-align: center;
    margin-top: 50px;
    color: navy;
    font-size: 30px;
    padding: 20px;
}



.section-two>p {
    color: #807777;
    font-size: 17px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.section-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}



.section-icon1>h5 {
    color: navy;
    margin-top: 10px;
    margin-bottom: 10px;
}


.section-icon1>h6 {
    color: blue;
    margin-bottom: 10px;
      
}


.section-icon2>h5 {
    color: navy;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-icon2>h6 {
    color: blue;
    margin-bottom: 10px;
}


.section-icon3>h5 {
    color: navy;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-icon3>h6 {
    color: blue;
        margin-bottom: 10px;

}


.section-button {
    background: navy;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 150px;
    margin: 70px;
    margin-left: 600px;
}

.section-three>p {
    margin-left: 1000px;
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 50px;
    padding-top: 0%;
}

.section-three>h3 {
    color: navy;
    padding: 20px;
}

.section-three>h6 {
    color: #807777;
    padding: 10px;
    margin: 10px;
}

.section-three-images {

    width: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 70px;

}

.section-four {
    margin: 200px;
    padding: 70px;
    gap: 80px;
    display: flex;
    gap: 200px;
}

.flex {
    display: inline;
    color: navy;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;

}

.flex > h4 {
    padding: 20px;
}

.flex>h6 {
    color: #807777;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;

}

.section-five {
    display: flex;
    justify-content:  space-around;
    font-size: 60px;
}

.firstnumber>h6 {
    color: #807777;
    font-size: 30px;
}

.firstnumber > h3 {
    margin-bottom: 20px;
}

.secondnumber>h6 {
    color: #807777;
    font-size: 30px;
}
.secondnumber > h3 {
    margin-bottom: 20px;
}
.thirdnumber>h6 {
    color: #807777;
    font-size: 30px;
}
.thirdnumber > h3 {
    margin-bottom: 20px;
}

.section-five {
    margin-bottom: 200px;
}

.section-six {
    display: block;
    background-color: navy;
    color: white;
    border-radius: 15px;
    margin: 20px;
    padding: 40px;
}
.section-six > h3 {
    padding-bottom: 30px;
    margin-left: 0px;
}

.section-six > h6 {
    padding: 10px;
    margin-left: 0px;
    margin-bottom: 20px;
}

.anotherbutton {
    color: navy;
    font-weight: bold;
    background-color: white;
    border-radius: 6px;
    width: 200px;
    padding: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 150px;
    height: 50px;

}

.section-seven {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;


}

.list1 > ul {
    padding-top: 20px;
    color: #807777;
    font-size: 20px;
    list-style-type: none;
}

.list2 > ul {
        padding-top: 20px;
    color: #807777;
    font-size: 20px;
    list-style-type: none;
}

.list3 > ul {
        padding-top: 20px;
    color: #807777;
    font-size: 20px;
    list-style-type: none;
}

.list4 {
    color: #807777;
    font-size: 20px;
    list-style-type: none;
}

.list1 >ul > li {
    margin-bottom: 10px;
}

.list2 >ul > li {
    margin-bottom: 10px;
}

.list3 >ul > li {
    margin-bottom: 10px;
}

.list4 >ul > li {
    margin-bottom: 10px;
}

.list1>h5 {
    color: black;
   
}
.list4 > h5 {
    margin-bottom: 20px;
}
.list2>h5 {
    color: black;
}

.list3>h5 {
    color: black;
}

.list4>h5 {
    color: black;
    font-size: 20px;
}

.end-section {
    font-family: 'Courier New', Courier, monospace;
}

.end-section > h2 {
    margin-top: 100px;
}