
                    
                    *{
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;}
                   
                    .profile-card {
                        width: 500px;
                        background-color: rgb(52, 50, 50);
                        padding: 20px;
                        margin: 0 auto;
                        border-radius: 20%;
                        height: 500px;

                    }
                    
                    .bio{
                        text-align: center;
                    }
                    
                    .bio > img {
                        width: 80px;
                        height: 80px;
                        border-radius: 100%;
                    }

                    .bio > h4 {
                        color: lime;
                        margin: 5px 0 30px;
                    }

                    .socials{
                        margin-top: 20px;
                    }

                    .socials > a {
                        text-align: center;
                        padding: 10px;
                        background-color: black;
                        color: white;
                        display: block;
                        text-decoration: none;
                        letter-spacing: 2px;
                        border-radius: 15%;
                        margin-bottom: 10px;

                    }

                    /* Postioning */

                    .pos {
                        width:100px;
                        padding: 10px;
                        background-color: lightblue;
                    }

                    .sticky
                    {
                        position: fixed;
                        bottom: 0;
                    }

                    .field {
                        position: relative;
                        width: 300px;
                        height: 300px;
                        background-color: aqua;
                    }

                    .ball {
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                        background-color: green;
                        position: absolute;
                        top: 45%;
                        right: -30px;
                        z-index: -51;
                        
                    }

                    /* day nine Layout.*/


                    .box {
                        width: 100px;
                        height: 100px;
                        background-color: burlywood;
                    }

                    .container {
                        width: 100%;
                        height: 400px;
                        border: 2px solid red;

                        display: flex;
                        flex-direction: row-reverse;   /*change direction*/
                        justify-content: space-evenly;
                        align-items: center;
                        gap: 30px;
                    }

                    /* Grid */
                    .wrapper {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        gap: 30px;
                        grid-template-rows: 100px;
                    }
                    

                    /*******************
  lesson 9: THU 25/9/2025
*******************/
.box {
  width: 100px;
  height: 100px;
  background-color: burlywood;
}

.container {
  width: 100%;
  height: 400px;
  border: 2px solid red;

  display: flex;
  flex-direction: row-reverse;      /* change direction*/
  justify-content: space-evenly;        /* horizontal movement*/
  align-items: center;              /*vertical movement*/
  gap: 30px;
}



/* grid */
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px;
  gap: 30px;
}



/* flex practice */

.another {
  display: flex;
  width: 600px;
  margin: 0 auto;
  gap: 20px;
  background-color: gray;
  border-radius: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-card {
  text-transform: capitalize;
  padding: 20px;
  background-image: linear-gradient(#7c46b3, #5e26e2 );
  border-radius: 20px;
  text-align: center;
  width: 50%;
  color: white;
}

.circle {
  margin: 20px auto;
  background-image: linear-gradient(#7322c5, #5e26e2 );
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle > h1 {
  font-size: 90px;
}

.left-card > .text > p {
  margin-top: 20px;
  background-color: transparent;
  color: gainsboro;
}


/* right */
.right-card {
  width: 50%;
  padding: 20px;
}


.subject-item {
  display: flex;
  background-color: coral;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  margin-top: 30px;
  justify-content: space-between;
}


.right-card > button {
  padding: 10px;
  margin-top: 20px;
  border: transparent;
  border-radius: 20px;
  width: 100%;
  background-color: white;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

/* Assignment eight */
.fullbox {
  display: flex;
  background: #e96868;
  border-radius: 10px;
  width: 800px;
  gap: 20px;
  background-color: pink;
  border-radius: 20px;
  height: 600px;
  margin: 30px;                 
  background-repeat: no-repeat;
  background-size:700px;
  background-position: left;
  
}

/* .right-side {
  gap: 50px;
} */

.personal-info > h2 {
  margin-bottom: 20px;
}

.personal-info > p {
  margin-bottom: 20px;
}
.sidebar {
  /* background-image: url(./Media/background\ image.jpg); */
  /* width: 1000px; */
  height: 500px;
  margin-left: 40px;
  background-image: url(./Media/background\ image.jpg);
  width: 250px;
  margin-top: 50px;
  border-radius: 15px;
  padding-left: 30px;
  padding-top: 30px;
  font-family: sans-serif;

}

.steps {
  display: flex;
  flex-direction: column;
  gap: 25px;
   justify-content: center;
  font-weight: bold;

}

.step {
  display: flex;
  align-items: center;
  gap: 15px;
  opacity: 0.8;
  color: white;
}

.number {
  border: 2px solid white;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.step-circled {
   display: flex;
  align-items: center;
  gap: 15px;
  opacity: 0.8;
}


.step-circled > .info-part {
  color: white;
}
.step-head {
  font-size: 11px;
  margin: 0;
}

.step-body {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.info-part > p {
  padding-bottom: 10px;
}

.info > p {
  padding-bottom: 10px;
}
.digit {
  border-color: white;
  border: 2px solid;
  border-radius: 50%;
  background: transparent;
  width: 30px;
  height: 30px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.personal-info{
  color: navy;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.personal-info > p {
  color: #140a3a;
}
/* .form-section {
  padding: 20px;
  margin: 40px; */

  .right-side {
    margin-top: 50px;
    gap: 40px;
    margin-left: 50px;
  }

.formpart {
  margin-top: 10px;
  color: white;
  padding: 12px;
  border-radius: 5px;
  width: 300px;
  outline: blue;

}

.email {
  margin-top: 10px;
  color: white;
  padding: 12px;
  border-radius: 5px;
  width: 300px;
  outline: blue;

}

.tel {
  margin-top: 10px;
  color: white;
  padding: 12px;
  border-radius: 5px;
  width: 300px;
  outline: blue;

}

.mail {
  margin-top: 20px;
  color: #002d72;;
  font-weight: bold;
}

.name {
   color: #002d72;;
  font-weight: bold;
  margin-top: 40px;
}

.phonenumber {
   color: #002d72;;
  font-weight: bold;
  margin-top: 20px;
}



/* .tel {
   margin-top: 10px;
  color: white;
  padding: 12px;
  border-radius: 5px;
  width: 400px;
  outline: blue;

} */

.buttonstyle {
  margin-top: 20px;
  margin-left: 250px;
  padding-left: 250px;
  background: #002d72;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100px;

}









/* Day 10 Mobile Responsiveness */
.block {
  width: 400px;
  height: 200px;
  background-color: aqua;
}

/*Mobile screen size */

@media (width < 767px) {
  .block {
    background-color: red;
  }
}
/* tablet screen site */
@media (width >=768px) and (width < 1024px) {
  .block {
    display: none; /*would show nothing if it is past that block*/
    background-color: green;
  }
}


/* Practice navigation */

.myNav {
  background-color: #5e26e2;
  display: flex;
  justify-content: space-between;
}

.desktop-nav {
  display: flex;
  gap: 50px;
  list-style-type: none;
}

.tablet-nav {
  display: none;
}

@media (width < 1024px ){
  .desktop-nav {
    display: none;
  }

  .tablet-nav {
    display:flex;
  }
}