*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    background-color: #0F172A;
}

.images {
    border-radius: 50px;
    background-color: #1E293B ;
    padding: 40px;
    margin: 40px;
    text-align: center;
    color: #E2E8F0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 350px;
}

.images > img {
    border-radius: 50%;
    
}

.heading {
    color: #E2E8F0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heading > h2 {
    padding-bottom: 15px;
}

.image {
    display: flex;
    justify-content: left;
    gap: 90px;
    align-items: center;
    padding-left: 50px;
    border-radius: 100%;
}


.first-head {
    padding: 40px;
    margin: 40px;
}


.heading > h2 > h3 {
    display: flex;
    flex-direction: row;
}

.paragraph {
    padding-top: 20px;
}
.list-head {
    padding: 40px;
    margin: 40px;
    margin-top: 10px;
    padding-top: 5px;
    background-color: #1E293B ;
    margin: 40px;
}

.list-head > h2 {
    padding-bottom: 15px;
    margin-top: 25px;
    color: #E2E8F0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.list-head > ol {
    color: #E2E8F0;
    text-decoration: none;
    font-size: 20px;
}


:hover > li {
    text-decoration: underline;
}
.list a {
    text-decoration: none;
    color: #38BDF8;
}

.list-2 {
    text-align: right;
    display: block;
    flex-direction: column;
    justify-content: end;
}

.footer {
    text-align: right;
    padding: 35px;
    color: #A5F3FC;
    font-size: 30px;
   
}

.footer a {
    text-decoration: none;
    color: #38BDF8;
}



:hover > h4 {
    text-decoration: underline;
}